/*Meyer Reset*/

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0; 
font-size: 100%;  
/*font: inherit;*/
vertical-align: baseline;  
}

*{
    box-sizing:border-box;
    /*border:1px solid grey;*/
    max-width:100%;
    font-family: 'Quicksand', sans-serif;
  }

html{
    font-size:62.5%;
  }

header {
    background-color: lightgray;
    margin-top: 0%;
    padding:2% 0;
    border-bottom: 2px solid black;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-left: 4%;
}  

header nav a {
    font-size: 2rem;
    text-decoration:none;
    padding: .5% .5%;
    margin: 0 0;
    border: 2px solid black;
}

h1 {
    font-size:7rem;
    text-transform:uppercase;
    margin: 2% 0;
    margin-left: 2%
}

.First {
    display: flex;
    justify-content: space-around;
    padding: 2% 0;
}

.FirstText {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    height: 100%;
    width: 50%;
    font-size: 2rem;
    line-height: 2;
}
.TextContainer h2 {
    font-size: 5rem;
    text-transform: uppercase;
}

.TextContainer p,a{
    font-size: 3rem;
}

.Projects2 {
    border: 2px solid black;
    text-decoration: none;
    padding: 0 2%;
    margin: 2% 0;
}

#Pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#Pictures div {
    margin: 2% 0;
}

#Pictures p {
    text-align: center;
    font-size: 2rem;
}

footer {
    background-color: lightgray;
    padding: 5% 0;
}

.footertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footertext h2{
    font-size:3rem;
}

.ContactMe {
    border: 2px solid black;
    padding: 0 2%;
    margin: 2% 0;
}

.ContactMe a{
    font-size: 2rem;
    text-decoration:none;
}

.btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
    padding: 0 .5%;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
  }

  footer nav {
      display: flex;
      align-items: center;
      justify-content: center;
  }

@media (max-width: 500px) {
    header{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav a {
        width: 20%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .First {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .First .Big-Picture {
        padding: 0 2%;
    }

    .First .FirstText {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .First .FirstText .TextContainer {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .First .FirstText .TextContainer h2, a, p {
        align-items: center;
        justify-content: center;
    }

    #Pictures div {
        flex-wrap: wrap;
        width: 40%;
    }
    
    
}
/*end of max-width 500px*/

@media (max-width: 800px) {
    header{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav a {
        width: 20%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .First {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .First .Big-Picture {
        padding: 0 2%;
    }

    .First .FirstText {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .First .FirstText .TextContainer {
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .First .FirstText .TextContainer h2, a, p {
        align-items: center;
        justify-content: center;
    }

    #Pictures div {
        flex-wrap: wrap;
        width: 40%;
    }
}